language: ruby
sudo: false
cache: bundler
env:
  - CODECLIMATE_REPO_TOKEN=513a7c6a20ab24a3937cb3a75400c8bba6f86a9405d05241445fdf432c378f77
bundler_args: --without tools
script: "bundle exec rake spec"
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3.0
  - rbx-2
  - jruby-9.0.5.0
  - ruby-head
  - jruby-head
env:
  global:
    - JRUBY_OPTS='--dev -J-Xmx1024M'
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/39e1225f489f38b0bd09
    on_success: change
    on_failure: always
    on_start: false
